<h1>Private Events</h1>

<% if user_signed_in? %>
    <%= link_to "New Event", new_event_path%>
<% end %>

<hr>

<h4>Upcoming Events</h4>
<ul>
    <% Event.upcoming.each do |event| %>
        <li><%= link_to "#{event.title}", event %></li>
    <% end %>
</ul>

<hr>

<h4>Past Events</h4>
<ul>
    <% Event.past.each do |event| %>
        <li><%= link_to "#{event.title}", event %></li>
    <% end %>
</ul>
